<mat-spinner *ngIf="israteloading"></mat-spinner>
<mat-card *ngIf="!israteloading">
    <P> Indicative Gold Price for {{gold_price.date | json}}:</P>
    <p>Gold AM Price: INR {{gold_price.goldampricegm | json}}</p>
    <p>Gold PM Price: INR {{gold_price.goldpmpricegm | json}}</p>
    <!--{{gold_price | json}}-->
</mat-card>

<!--mat-card *ngif = "!(israteloading)"></mat-card>
    {{gold_price}}
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
    <p> dddsdsd </p>
</mat-card!-->
